.aboutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutBanner {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 13.938rem;
}

