.accomodationCard {
    height: 340px;
    width: 340px; 
    margin: 20px;
}
.coverImage {
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
    width: 100%; 
}

.coverTitle {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    position: relative;
    bottom: 65px;
    margin: 10px;
}

@media screen and (max-width: 425px) {
 
    .accomodationCard {
        max-height: 255px;
        min-width: 335px;
    }

  }