
.carouselWrapper {
    /* max-width: 1240px; */
    position: relative;
    display: flex;
    align-items: center;
}

.carouselImages {
    width: 100%;
    /* height: 100%; */
    /* max-width: 1240px; */
    max-height: 25.938rem;
    /* min-height: 6.938rem; */
    border-radius: clamp(0.625rem, 1.736vw, 1.563rem);
    /* filter: brightness(70%); */
    object-fit: cover;
}

.carouselControls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    position: absolute;
}

.previousControlArrows, .nextControlArrows  {
    width: 30px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 425px) {
    .previousControlArrows, .nextControlArrows  {
        width: 50px;
    }
}