
/* CSS for carousel component*/

.carouselWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselImages {
    width: 100%;
    height: 15.938rem;
    border-radius: clamp(0.625rem, 1.736vw, 1.563rem);
    object-fit: cover;
    box-shadow: 0px 4px 12px 3px #d9d9d9;
}

.carouselControls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    position: absolute;
}

.previousControlArrows, .nextControlArrows  {
    width: 1.875rem;
}

.counter {
    position: absolute;
    bottom: 0.625rem;
    font-size: clamp(0.625rem, 1.3vw, 1.25rem);
    margin: unset;
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
    .previousControlArrows, .nextControlArrows  {
        width: 3.125rem;
    }

    .carouselImages {
        height: unset;
        height: 25.938rem;
    }
}
