
.dropDown {
    margin-top: 31px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF6060;
    height: 47px;
    width: 100%;
    max-width: 1023px;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(0.813rem, 1.6vw, 1.5rem);
    font-weight: 500;
    padding: 7px 15px 7px 15px;
  }

  .dropDown img {
    width: clamp(0.875rem, 1.2vw, 1.5rem);
   
  }

  .dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    background: #F6F6F6;
    color: #FF6060;
    font-size: clamp(0.75rem, 1.6vw, 1.5rem);
    font-weight: 400;
    border-radius: 5px;
    padding: 25px 15px 15px 15px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* li {
    padding: 8px 12px;
  } */
  
  /* li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    cursor: pointer;
  } */

  @media screen and (max-width: 600px) {
    .dropDown {
      margin-top: 20px;
      height: 30px;
    }

    .dropdownList{
      padding: 12px;
    }
  }