/* CSS for dropdowm menus component*/

.DropdownAboutPage {
  max-width: 1023px;
  width: 100%;
  /* margin: auto; */
}

.DropdownAccomPage {
  max-width: 600px;
  width: 100%;
  /* margin: auto; */
}

.dropDownTitleBar {
    margin-top: 20px;
    display: flex;
    max-width: 1023px;
    justify-content: space-between;
    align-items: center;
    background:  #FF6060;
    height: 1.875rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 15px 7px 15px;
    box-shadow: 0px 7px 12px 3px #d9d9d9;
  }

  .dropDownTitleBarText {
    font-size: clamp(0.813rem, 1.6vw, 1.5rem);
    font-weight: 500;
  }

  .dropdownArrow {
    width: 1rem;
  }

  .dropDown img {
    width: clamp(0.875rem, 1.2vw, 1.5rem);
  }

  .dropDownListAbout {
    position: relative;
    z-index: 2;
    background: #F6F6F6;
    color: #FF6060;
    font-size: clamp(0.75rem, 1.6vw, 1.5rem);
    font-weight: 400;
    border-radius: 5px;
    padding: 0.75rem;
    box-shadow: 0px 7px 12px 3px #d9d9d9;
    margin: unset;
  }

  .dropDownListAccomodation {
    position: relative;
    z-index: 2;
    background: #F6F6F6;
    color: #FF6060;
    font-size: clamp(0.75rem, 1.6vw, 1.5rem);
    font-weight: 400;
    border-radius: 5px;
    padding: 0.75rem;
    box-shadow: 0px 7px 12px 3px #d9d9d9;
    margin: unset;
    height: 160px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* MEDIA QUERIES */

  @media screen and (min-width: 660px) {
    .dropdownArrow {
      width: 1.2rem;
    }

    .dropDownListAccomodation{
      height: 200px;
    }
  }

  @media screen and (min-width: 1024px) {
    .dropDown {
      margin-bottom: 1.875rem;
    }    
    
    .dropDownTitleBar {
      margin-top: 3.125rem;
      height: 3rem;
    }

    .dropdownArrow {
      width: 1.5rem;
    }

    .dropDownListAccomodation{
      height: 290px;
      padding: 25px 15px 15px 15px;
    }
  }