.homeBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 13.938rem;
}

.slogan {
    margin: 36px;
    position: absolute;
    font-size: clamp(1.5rem, 3.5vw, 3.75rem);
    font-weight: 500;
}