/* CSS for host details component*/

.hostWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hostTitle {
    width: 3.5rem;
    text-align: right;
    font-weight: 500;
    /* margin: unset; */
    font-size: 0.75rem;
}

.hostPhoto {
    margin-left: 10px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
    .hostTitle {
        width: 5.5rem;
        font-size: 1.125rem;     
    }

    .hostPhoto {
        width: 4rem;
        height: 4rem;
        box-shadow: 0px 4px 12px 3px #d9d9d9;
    }
}


