/* CSS for accomodation tags component*/

.tagWrapper {
    display: flex;
    margin-top: 0.625rem;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
}

.tagTitle {
    font-size: clamp(0.625rem, 1vw, 0.875rem);
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: #FF6060;
    padding: 5px;
    width: clamp(6rem, 9.8vw, 11rem);
    border-radius: 0.625rem;
    margin-right: 0.625rem;
    box-shadow: 0px 4px 12px 3px #d9d9d9;
}

/* MEDIA QUERIES */

@media screen and (min-width: 680px) {
    .tagWrapper {  
        margin-top: 1.563rem;
    }
}

@media screen and (min-width: 1220px) {
    .tagWrapper {  
        margin-top: 0.625rem;
    }
}